.generate-image, .send-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;

    @media(min-width: 770px){
        width: 50%;
    }

    .main-img{
        width: 200px;
        max-height: 200px;
        height: auto;
        overflow: hidden;
    }

    img{
        width: 100%;
        height: auto;
    }
}

.img-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    position: relative;

    img{
        width: 100px;
        height: 100px;
        
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}